/*
Google Font Alternatives (kind of lame ones though)

Futura - Muli
Helvetica - Source Sans Pro
Optima - Arsenal
Garmond - Lora
Playfair Display - Bodini

font-family: 'Muli', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arsenal', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
*/

html {
    font-size: 16px;
    font-family: 'Arsenal', sans-serif;
    color: white;
    /*background-color: white;*/
}

#wrapper {
    background-color: black;

    flex-direction: column;
    margin: auto;
    /*max-width: 800px;*/
    padding: 0 5px;
}

header {
    display: grid;
    grid-column: 300px 500px;
    grid-row: 100px 60px;
    background-color: white;
    /*background-image: url("background.jpg");*/
    height: 160px;
    position: relative;
}

#logo {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    font-family: 'Bowlby One SC', sans-serif;
    padding: 20px 0;
    width: 200px;
    margin: 0 40px;
    font-variant: small-caps;
    letter-spacing: .05em;
    font-size: 2em;
    text-align: center;
    color: black;
    line-height: 1.0em;
    /*background-image: background.jpg;*/
}
#logoImg {
    margin-left: 50%;
    height: 150px;
    width: 300px;
}
nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

}

nav ul {
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;
    color: #ddd;
    background-color: #444;
    margin: 0;
    padding: 0;
}

nav li {
    width: 14%;
    float : left;
}

nav li a {
    display: block;
    grid-column: auto;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

nav li a:hover {
    background-color: crimson;
}

#content {
    min-height: 200px;
    padding: 50px 50px;
    padding-bottom: 80px;

}
#content p{
    color: #ddd;
    padding-left: 10px;
}
.row{

}
.venueDiv{
    display: inline-block;
    width: 40%;
    border: 4px solid crimson;
    padding: 20px;
    overflow: hidden;
    margin-right: 4%;
    margin-bottom: 2%;
    margin-left: 5%;

}
.venueDiv p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}
.venue{
    margin-right: 15px;
    float: left;
    height: 50px;
    width: 50px;
}
.userpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #222;
    background-image: url("../img/blackleather.png");
    border: 2pt solid #222;
    float: left;
    margin: 0 40px 20px 0px;
}

textarea {
    width: 95%;
    color: #777;
    font-size: 1em;
    padding: 1em;
    height: 100px;
}

footer {
    font-family: 'Muli', sans-serif;
    padding: 20px;
    color: #ddd;
    background-color: black;
    font-size: .9em;
    border-top: 2px solid white;
}

footer a {
    color: white;
}
