h2{
  font-size: 16pt;
  font-family:Arial;
  font-style: italic;
  color: blue;
}

.container{
  width: 600px;
  height:280px;
  border-radius: 2px;
  border-color: blue;
  border-style: solid;
  padding: 5px;
  background-color: #F0F0F0;
}

.Yellow{
  background-color: yellow;
  float:left;
  width:200px
  padding: 10px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.None{

}

.Orange{
  background-color: orange;
  position: absolute;
  left: 110px;
  top: 200px;
  width: 200px;
  padding: 10px;
}
.Orange-red{
  background-color: rgb(255, 80, 0);
  color: white;
  float: right;
  width: 200px;
  padding: 10px;
  margin-right: 40px;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
}
